<div class="row">
    <div class="col-md-7">
        <app-card [header]="'Exponering med responsprevention'">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut fugiat quasi suscipit facere commodi deserunt, 
                cum quod tenetur beatae nisi ratione nostrum voluptates a explicabo sapiente. Ratione, quas alias?
            </p>
        </app-card>
        <app-card [header]="'Stödfunktioner'">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut fugiat quasi suscipit facere commodi deserunt, 
                cum quod tenetur beatae nisi ratione nostrum voluptates a explicabo sapiente. Ratione, quas alias?
            </p>
        </app-card>
    </div>
    <div class="col-md-5">
        <app-card [header]="'Viktigt / Mindre viktigt'">
            <p class="card-text">
                Du behöver få diagnosen fastställd av någon som kan OCD.
                Sen behöver du göra terapin med en stor portion viljestyrka. 
                Exakta detaljer kring dina Obsessions, dina "teman" är mindre viktiga. 
                Exakta detaljer kring vilka Compulsions du gör är mindre viktiga.
                Varför just du har fått OCD, din barndom är också mindre viktiga frågor.
            </p>
        </app-card>
        <app-card [header]="'Du väljer mellan två helveten'">
            <p class="card-text">
                Ett helvete som du klättrar dig upp ur, genom att göra terapin.
                Eller ett helvete som du sjunker djupare ner i, genom att fortsätta
                göra Compulsions. Terapin handlar om att sluta göra Compulsions och
                att acceptera dina Obsessions - hur svårt det än är.
            </p>
        </app-card>
        <app-card [header]="'Vad är målet med terapin?'">
            <p class="card-text">
                En naiv Henrik, i början av terapin, skulle säga att målet är att bli av med Obsessions.
                Hint: Inte bra mål!
            </p>
            <p class="card-text">
                En psykolog som kan OCD skulle säga att målet är att alla Compulsions upphör, punkt.
            </p>
            <p class="card-text">
                Kanske är tillfrisknande En vulkan som inte längre får utbrott, och där
                lava tidigare hade förstört marken så växer nu grönska? Kanske är
                tillfrisknande en livsstil...
            </p>
        </app-card>
    </div>
</div>