<div class="row">
    <div class="col-md-7">
        <app-card [header]="'ERP'">
            <p class="card-text">
                Exponering med responsprevention är det fundamentala i terapin och måste göras
                för tillfrisknande. Det vill säga exponera dig för det du är rädd för, vilket
                kommer framkalla Obsessions, acceptera dem och gör inte Compulsions.
                Det är plågsamt, känns helt fel, framkallar ångest, men måste göras. 
                Terapin och tillfrisknande är personlig, messy, och kommer inte vara perfekt.
            </p>
            <p class="card-text">
                I början av terapin var min exponering att enbart klara vardagen. Mina Obsessions
                flög runt i mitt huvud hela tiden och jag fick kämpa hårt för att inte göra Compulsions.
                Visst skulle man kunna säga att jag i början var tillbakadragande från områden i livet,
                vilket är en Compulsion, men som sagt, terapin kommer inte vara perfekt. Det tar tid.
                Försök ditt bästa, låt vatten rinna under bron.
            </p>
            <p class="card-text">
                Längre in i terapin tog jag tillbaka mark från OCD, jag undvek inte längre.
                Jag gjorde det jag ville och accepterade Obsessions utan att göra 
                Compulsions (efter bästa förmåga).
            </p>
            <p class="card-text">
                Nu är jag i ett skede där jag aktivt försöker ge OCD fingret.
                Om hjärnan lite så där ångestfullt, lite tvivelkastande, pockar på
                engamenang kring något, så ger jag sjutton i att agera. Och
                vice versa om något känns lite läskigt, då gör jag det. Jag försöker att
                aktivt hitta på saker som framkallar Obsessions och låter de härja fritt.
            </p>
        </app-card>
        <app-card [header]="'Stödfunktioner'">
            <p class="card-text">
                Ta hjälp! Jag hade ett otroligt stöd från en teraput och senare en psykolog som
                båda verkligen förstod OCD. Jag plockade också russinen från några böcker jag läste;
                Mindfullness, meditation och förhållningssätt till Obsessions. Jag gjorde
                terapin personlig och försökte ta bort pressen att "recovery skulle vara perfekt".
            </p>
            <p class="card-text">
                Terapin i sig kan nämligen bli en Obsession. Ja, det är viktigt att göra terapin,
                men om du blir manisk kring det, sätter recovery på en pedestal, måste göra det
                "perfekt", så kommer OCD jävlas med det. Sa jag att OCD är paradoxernas
                diagnos?
            </p>
            <p class="card-text">
                Jag upplevde att ordentlig sömn, motion och bra mat var hjälpsamt. Det var
                också viktigt för mig att få karva ut egentid, att få meditera lite, eller
                fundera lite på det paradigmskifte i livet som terapin ändå är. Jag försökte
                samtidigt hålla tankar kring livet och terapin löst, inte bli för besatt av dem.
                Samma sak om jag inte fick ordentlig sömn en natt, ok, sömnen var inte perfekt
                men jag ska försöka mitt bästa ändå.
            </p>
            <p class="card-text">
                Se till att du och dina nära förstår diagnosen. Att fråga andra om dina 
                Obsessions eller låta dem "hjälpa dig" i dina Compulsions måste undvikas.
            </p>
        </app-card>
    </div>
    <div class="col-md-5">
        <app-card [header]="'Viktigt / Mindre viktigt'">
            <p class="card-text">
                Du behöver få diagnosen fastställd av någon som kan OCD.
                Sen behöver du göra terapin med en stor portion viljestyrka och tålamod. 
                Exakta detaljer kring dina Obsessions, dina "teman" är mindre viktiga. 
                Exakta detaljer kring vilka Compulsions du gör är mindre viktiga.
                Varför just du har fått OCD, din barndom är också mindre viktiga frågor.
            </p>
        </app-card>
        <app-card [header]="'Du väljer mellan två helveten'">
            <p class="card-text">
                Ett helvete som du klättrar dig upp ur, genom att göra terapin.
                Eller ett helvete som du sjunker djupare ner i, genom att fortsätta
                göra Compulsions. Terapin handlar om att sluta göra Compulsions och
                att acceptera dina Obsessions - hur svårt det än är.
            </p>
        </app-card>
        <app-card [header]="'Vad är målet med terapin?'">
            <p class="card-text">
                En naiv Henrik, i början av terapin, skulle säga att målet är att bli av med Obsessions.
                Hint: Inte ett bra mål!
            </p>
            <p class="card-text">
                En psykolog som kan OCD skulle säga att målet är att alla Compulsions upphör, punkt.
            </p>
            <p class="card-text">
                Kanske är tillfrisknande En vulkan som inte längre får utbrott, och där
                lava tidigare hade förstört marken så växer nu grönska? Kanske är
                tillfrisknande en livsstil...
            </p>
        </app-card>
    </div>
</div>