<div class="row">
    <div class="col-md-8">
        <app-card [header]="'Number one in the World'">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </app-card>
        
        
    </div>
    <div class="col-md-4">
        Col 2
    </div>
</div>