<div class="row">
    <div class="col-md-7">
        <app-card [header]="'OCD är djävulskt!'">
            <p class="card-text">
                Meningslösa ritualer drivna av tvivel, oro, paranoia, skuld.
                En diagnos full av paradoxer och fallgropar.
            </p>
            <p class="card-text">
                Jag heter Henrik och jag fick diagnosen OCD i början av 2023.
                Beskedet och terapin som följde har skakat om mig i grunden.
            </p>
            <p class="card-text">
                Syftet med den här sajten är att berätta om hur jag ser på OCD och framför allt på terapin, från ett lekmanna-perspektiv.
                Om jag kan stötta eller hjälpa 1 person så blir jag jätteglad. :-)
            </p>
            <p class="card-text">
                Terapin leder till förbättring! Det är inte lätt, men fullt möjligt.
                I början är varje dag ett totalt krig, sen är varje dag en strid,
                sen ett slagsmål, sen ett gräl, sen utsläckande och läkande.
            </p>
            <p class="card-text">
                Det har runnit en del vatten under bron nu och jag mår mycket bättre!
                Med det sagt så tror jag att terapin, till viss del, måste bli en livsstil.
            </p>
        </app-card>
    </div>
    <div class="col-md-5">
        <app-card [header]="'Så, vad gör vi?'">
            <p class="card-text">
                Jag ägnade mycket tid till att förstå diagnosen och reflekterade över mitt liv,
                hur beteenden genom åren gav OCD bränsle.
            </p>
            <p class="card-text">
                Parallellt med det började jag min pilgrimsfärd genom terapin. 
            </p>
            <p class="card-text">
                Till min hjälp hade jag jättebra resurser, teraputer och coacher som verkligen förstod diagnosen.
            </p>
            <p class="card-text">
                Sedan kom ett vägskäl. Jag började mer och mer gravitera bort från kampen, och i stället mot normalitet.
            </p>
        </app-card>
    </div>
</div>