<div class="row">
    <div class="col-md-8">
        <app-card [header]="'OCD är djävulskt!'">
            <p class="card-text">
                Meningslösa ritualer drivna av tvivel, oro, paranoia, skuld.
                En diagnos full av paradoxer.
            </p>
            <p class="card-text">
                Jag heter Henrik och jag fick diagnosen OCD i början av 2023.
                Beskedet och terapin som följde har skakat om mig i grunden.
            </p>
            <p class="card-text">
                Terapin leder till förbättring! Det är inte lätt, men fullt möjligt.
                I början är varje dag ett totalt krig, sen är varje dag en strid,
                sen ett slagsmål, sen ett gräl, sen utsläckande och läkande.
            </p>
            <p class="card-text">
                Det har runnit en del vatten under bron nu. Jag har haft kontakt med flera teraputer/psykologer och skaffat mig mycket kunskap om diagnosen, vill jag tro.
            </p>
            <p class="card-text">
                Syftet med den här sajten är att berätta om hur jag ser på OCD och framför allt på terapin, från ett lekmanna-perspektiv.
                Om jag kan stötta eller hjälpa 1 person så blir jag jätteglad. :-)
            </p>
        </app-card>
    </div>
    <div class="col-md-4">
        Col 2
    </div>
</div>