<div class="container d-flex flex-column app-container">
    <header class="row flex-shrink-0 bg-primary text-white d-none d-md-flex">
        <div class="col-auto pt-5 pb-4">
            <h1 class="display-1 app-display-1">{{ title }}</h1>
        </div>
        <div class="col text-right">
            <span data-feather="heart" class="app-heart-md" appFeatherIcon></span>
        </div>
    </header>
    <header class="row flex-shrink-0 bg-primary text-white d-md-none">
        <div class="col-auto py-3">
            <h1 class="display-4 app-display-4">{{ title }}</h1>
        </div>
        <div class="col text-right">
            <span data-feather="heart" class="app-heart" appFeatherIcon></span>
        </div>
    </header>
    <nav class="row bg-primary flex-shrink-0 pb-2 d-none d-md-flex">
        <div class="col">
            <app-nav [sizeCssClass]="'btn-group-lg'"></app-nav>
        </div>
    </nav>
    <nav class="row bg-primary flex-shrink-0 pb-2 d-md-none">
        <div class="col">
            <app-nav [sizeCssClass]="'btn-group-sm'"></app-nav>
        </div>
    </nav>
    <main class="row flex-grow-1 py-5">
        <div class="col" [ngClass]=" { 'px-sm-0': !isStandAloneForm } ">
            <router-outlet (activate)="onActivate($event)" />
        </div>
    </main>
    <footer class="row flex-shrink-0 bg-primary text-white text-center">
        <div class="col">
            Henrik Mathiesen, 2024
        </div>
    </footer>
</div>

<!--

    TODOs

    Routes: Start är hem
        https://angular.dev/api/router/RouterLinkActive
        puffar ...
        lättsamt ...
    Dubbelkolla responsive, så ok

-->