<div class="row">
    <div class="col-md-7">
        <app-card [header]="'Min fria tolkning av OCD'">
            <p class="card-text">
                Det handlar inte om ett logik- eller informationsproblem, det handlar om ett känsloproblem.
                Du kan inte tänka dig ur OCD!
            </p>
            <p class="card-text">
                Pudelns kärna är att en primitiv del av hjärnan signalerar att Något är fel. Dessa signaler
                når vår sofistikerade del av hjärnan som tar dem på stort allvar. Sen, beroende på hur man
                är som person, vad man tycker är viktigt i livet, och hur allvarlig störningen har blivit,
                så manifesterar det här sig på olika sätt - Obsessions.
            </p>
            <p class="card-text">
                Personen känner ett starkt behov av att engagera sig i dessa Obsessions på olika vis.
                Det kan vara utåtagerande, som till exempel kontrollera, tvätta sig, fråga andra, googla. Engagemanget
                kan också försigå i huvudet i form av ältande och grubblande. Det är också vanligt med ett
                tillbakadragande från områden, då de anses "triggande", det vill säga framkallar Obsessions.
                Alla dessa beteenden är Compulsions och ofta pågår de parallellt hos personen.
            </p>
            <p class="card-text">
                När personen har utfört Compulsions "korrekt" så känns det bättre ett litet tag. Den känslan är kortvarig.
                OCD är en störning, en Disorder. Signalerna från den primitiva delen av hjärnan fortsätter. Den sofistikerade
                delen av hjärnan har nu etablerade beteenden i minnesbanken, och personen känner starkare behov av att engagera sig.
                Det är en loop, som aldrig tar slut, tyvär. Det är Obsessive Compulsive Disorder.
            </p>
        </app-card>
    </div>
    <div class="col-md-5">
        <app-card [header]="'OCD - Tvångssyndrom'">
            <p class="card-text">
                Jag föredrar det engelska begreppet Obsessive Compulsive Disorder framför svenskans tvångssyndrom.
                Skillnaden mellan obsession och compulsion är tydligare, medan det i svenskan ibland blir förvirring
                kring det. Så jag använder begreppet OCD.
            </p>
        </app-card>
        <app-card [header]="'En dag smäller det'">
            <p class="card-text">
                Jag är säker på att min störning byggdes upp under många år av Compulsions. År 2023 small det.
                Ungefär som att man kommer lite undan med att äta dåligt och aldrig motionera ett bra tag,
                tills man inte kommer undan med det längre.
            </p>
            <p class="card-text">
                Compulsions är störningens bränsle och alla måste släckas ut om personen ska bli av med diagnosen.
            </p>
        </app-card>
    </div>
</div>