<form class="row" [formGroup]="testForm" (ngSubmit)="onSubmit()" *ngIf="hasOCD === null">
    <div class="col-md-6">
        <fieldset class="form-group" formArrayName="sectionA">
            <legend class="h4 mb-3">Sektion A</legend>
            <div *ngFor="let arr of getArrayForSection('sectionA').controls; let i = index; let isLast = last"
                class="custom-control custom-checkbox" [ngClass]="{ 'mb-2': !isLast }">
                <input type="checkbox" class="custom-control-input" id="a-{{ i }}" [formControlName]="i">
                <label for="a-{{ i }}" class="custom-control-label">{{ getLabelForSection('sectionA', i) }}</label>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="form-group" formArrayName="sectionB">
            <legend class="h4 mb-3">Sektion B</legend>
            <div *ngFor="let arr of getArrayForSection('sectionB').controls; let i = index; let isLast = last"
                class="custom-control custom-checkbox" [ngClass]="{ 'mb-2': !isLast }">
                <input type="checkbox" class="custom-control-input" id="b-{{ i }}" [formControlName]="i">
                <label for="b-{{ i }}" class="custom-control-label">{{ getLabelForSection('sectionB', i) }}</label>
            </div>
        </fieldset>
        <fieldset class="form-group" formArrayName="sectionC">
            <legend class="h4 mb-3">Sektion C</legend>
            <div *ngFor="let arr of getArrayForSection('sectionC').controls; let i = index; let isLast = last"
                class="custom-control custom-checkbox" [ngClass]="{ 'mb-2': !isLast }">
                <input type="checkbox" class="custom-control-input" id="c-{{ i }}" [formControlName]="i">
                <label for="c-{{ i }}" class="custom-control-label">{{ getLabelForSection('sectionC', i) }}</label>
            </div>
        </fieldset>
        <div class="text-right">
            <button class="btn btn-lg btn-primary">Jag kanske har OCD</button>
        </div>
        <div class="text-right mt-5">
            <app-quote [p]="quoteP" [f]="quoteF"></app-quote>
        </div>
    </div>
</form>

<div class="row" *ngIf="hasOCD !== null">
    <div class="col-md-7">
        <app-card [header]="testResult.header">
            <p class="card-text">{{ testResult.info }}</p>
            <div class="my-5 text-right">
                <button type="button" class="btn btn-lg btn-primary" (click)="testReset()">{{ testResult.reset
                    }}</button>
            </div>
            <div class="text-right">
                <app-quote [p]="quoteP" [f]="quoteF"></app-quote>
            </div>
        </app-card>
    </div>
    <div class="col-md-5 text-center align-content-center">
        <span data-feather="target" class="app-target" appFeatherIcon></span>
    </div>
</div>