<div class="btn-group" [ngClass]="sizeCssClass" role="group" aria-label="Navigera">
    <a class="btn btn-primary" [routerLink]="['start']" [routerLinkActive]="'app-nav-active'">Start</a>
    <a class="btn btn-primary" [routerLink]="['om']" [routerLinkActive]="'app-nav-active'">Om diagnosen</a>
    <a class="btn btn-primary" [routerLink]="['test']" [routerLinkActive]="'app-nav-active'">Självtest</a>
    <a class="btn btn-primary" [routerLink]="['terapin']" [routerLinkActive]="'app-nav-active'">Terapin</a>
    <a class="btn btn-primary" [routerLink]="['resurser']" [routerLinkActive]="'app-nav-active'">Resurser</a>
</div>