html, body {
    height: 100%;
}

.badge {
    font-size: 100% !important;
    white-space: normal !important;
}

.badge-warning, .bg-warning {
    background-color: #d0c000 !important;
}

.app-width-50-percent {
    width: 50%;
}

@media only screen and (max-width:500px) { 
    .app-width-50-percent {
        width: 100%;
    }
}

.app-max-width-265 {
    max-width: 265px;
}

.app-dp-tracker .ngb-dp-day .app-dp-custom-day {
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.app-dp-tracker .ngb-dp-day .app-dp-custom-day.app-dp-tracker-selected {
    outline: 1px solid black;
}

.app-dp-tracker .ngb-dp-day .app-dp-custom-day.hidden {
    opacity: 0.5; 
}