<div>
    <h2 class="h5 mb-4 app-milestone-header"
        [ngClass]=" { 'app-new-milestones': newMilesStonesSpark, 'mark': newMilesStonesSparkMark } ">
        Achievements
        (<span [ngClass]=" { 'text-success': newMilesStonesSpark } ">{{ achivedMilestones.length }}</span> av {{
        milestones.length }})
    </h2>
    <p *ngIf="!(!!achivedMilestones.length)">
        <app-quote [p]="'Jag kan leda dig till vattnet men du måste dricka'" [f]="'Olle Wadström'" [smallP]="true"
            [textRight]="false"></app-quote>
    </p>

    <ng-container *ngIf="!!achivedMilestones.length">
        <ng-container *ngIf="!!achivedMilestonesJokers.length">
            <h2 class="h6">Jokers</h2>
            <app-tracker-achivements [achivedMilestones]="achivedMilestonesJokers"></app-tracker-achivements>
        </ng-container>
        <ng-container *ngIf="!!achivedMilestonesEasy.length">
            <h2 class="h6">Easy</h2>
            <app-tracker-achivements [achivedMilestones]="achivedMilestonesEasy"></app-tracker-achivements>
        </ng-container>
        <ng-container *ngIf="!!achivedMilestonesMedium.length">
            <h2 class="h6">Medium</h2>
            <app-tracker-achivements [achivedMilestones]="achivedMilestonesMedium"></app-tracker-achivements>
        </ng-container>
        <ng-container *ngIf="!!achivedMilestonesHard.length">
            <h2 class="h6">Hard</h2>
            <app-tracker-achivements [achivedMilestones]="achivedMilestonesHard"></app-tracker-achivements>
        </ng-container>
    </ng-container>
</div>