<div>
    <h2 class="h5 mb-3">Achievements</h2>
    <p *ngIf="!(!!achivedMilestones.length)">
        <app-quote [p]="'Jag kan leda dig till vattnet men du måste dricka'" [f]="'Olle Wadström'" [smallP]="true"
            [textRight]="false"></app-quote>
    </p>
    <ul class="list-unstyled mb-0" *ngIf="!!achivedMilestones.length">
        <li *ngFor="let m of achivedMilestones; trackBy: trackByFn" class="d-flex mt-3">
            <span [attr.data-feather]="'award'" appFeatherIcon class="text-success flex-shrink-0"></span>
            <span>{{ m.label }}! {{ m.criteria }}</span>
        </li>
    </ul>
</div>