<div class="row">
    <div class="col-md-4">
        <app-card [header]="'Person Personsson'" [iconType]="'user'">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="card-text">
                <app-quote [p]="'Some wise words'" [f]="'Person'"></app-quote>
            </p>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [header]="'Person Personsson'" [iconType]="'user'">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="card-text">
                <app-quote [p]="'Some wise words'" [f]="'Person'"></app-quote>
            </p>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [header]="'Person Personsson'" [iconType]="'user'">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="card-text">
                <app-quote [p]="'Some wise words'" [f]="'Person'"></app-quote>
            </p>
        </app-card>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <app-card [header]="'Bokens namn'" [iconType]="'book'">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="card-text">
                <app-quote [p]="'Some wise words'" [f]="'Person'"></app-quote>
            </p>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [header]="'Bokens namn'" [iconType]="'book'">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="card-text">
                <app-quote [p]="'Some wise words'" [f]="'Person'"></app-quote>
            </p>
        </app-card>
    </div>
</div>