<div class="row">
    <div class="col-md-4">
        <app-card [header]="'Olle Wadström'" [iconType]="'user'">
            <p class="card-text">
                Mannen, myten, legenden. Otroligt kunnig, erfaren, respekterad och uppskattad. Det är mitt intryck av Olle.
                <a href="https://psykologinsats.se/" target="_blank">Psykologinsats</a>
            </p>
            <p class="card-text">
                <app-quote [p]="'Move your ass and your mind will follow'" [f]="'Olle'" [smallP]="true"></app-quote>
            </p>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [header]="'Anna'" [iconType]="'user'">
            <p class="card-text">
                En uppskattad brevkompis som verkligen förstår OCD. En bloggare och snart utbildad coach.
                <a href="https://ocdliv.bloggo.nu/" target="_blank">Hopp och Liv med OCD</a>
            </p>
            <p class="card-text">
                <app-quote [p]="'En sjöman ber inte om medvind - han lär sig segla'" [f]="'Anna'" [smallP]="true"></app-quote>
            </p>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [header]="'Henrik Mathiesen'" [iconType]="'user'">
            <p class="card-text">
                Jag bollar gärna med dig. Det är kostnadsfritt och jag är inte utbildad teraput.
                henrik.m.hmo[at]outlook.com
            </p>
            <p class="card-text">
                <app-quote [p]="'When we are no longer able to change a situation, we are challenged to change ourselves'" [f]="'Viktor Frankl'" [smallP]="true"></app-quote>
            </p>
        </app-card>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <app-card [header]="'Tvångssyndrom'" [iconType]="'book'">
            <p class="card-text">
                2017, Svenska, ISBN 9789163953729
            </p>
            <p class="card-text">
                <app-quote [p]="'Det är trösttankarna som håller det vid liv'" [f]="'Olle Wadström'" [smallP]="true"></app-quote>
            </p>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [header]="'You are not a rock'" [iconType]="'book'">
            <p class="card-text">
                2018, Engelska, ISBN 9780143132608
            </p>
            <p class="card-text">
                <app-quote [p]="'With any thought or feeling, we do what we value'" [f]="'Mark Freeman'" [smallP]="true"></app-quote>
            </p>
        </app-card>
    </div>
</div>